Repository emporous/.github, changes with the owners that CODEOWNERS names for each.
All owners: @afflom, @jpower432, @sabre1041, @usrbinkat, @emporous/docs-maintainers

CODEOWNERS:

# Team and configuration owners
peribolos.yaml       @afflom @jpower432 @sabre1041 @usrbinkat

# organizational docs owners
profile/* @emporous/docs-maintainers
governance/* @emporous/docs-maintainers
*.md @emporous/docs-maintainers

change repo emporous-docs to community
  peribolos.yaml
Owners: @afflom, @jpower432, @sabre1041, @usrbinkat

fix: fix errors in peribolos.yml config under docs-mainters repos (#30)
  peribolos.yaml
Owners: @afflom, @jpower432, @sabre1041, @usrbinkat

Removal of universalreference references
  peribolos.yaml
  profile/README.md
Owners: @afflom, @jpower432, @sabre1041, @usrbinkat, @emporous/docs-maintainers

rename url to emporous.io
  peribolos.yaml
Owners: @afflom, @jpower432, @sabre1041, @usrbinkat

add community repo (#8)
  peribolos.yaml
Owners: @afflom, @jpower432, @sabre1041, @usrbinkat

chore: update org description
  peribolos.yaml
Owners: @afflom, @jpower432, @sabre1041, @usrbinkat

feat: adds workflow to validate peribolos config
  .github/workflows/valdate-peribolos.yaml
  .gitignore
  config/config_test.go
  go.mod
  go.sum
  peribolos.yaml
Owners: @afflom, @jpower432, @sabre1041, @usrbinkat

chore: adds WIP google form for reporting
  CODE_OF_CONDUCT.md
Owners: @emporous/docs-maintainers

feat: add an enhancements tracking repo
  peribolos.yaml
Owners: @afflom, @jpower432, @sabre1041, @usrbinkat
